.container-fluid {
    font-family: Google Sans Flex, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: #f7f7f7;
    text-align: center;
}

h1 {
    font-family: prompt;
    font-size: 5em;
    font-weight: 300;
    color: #d3d3d3;
}

span {
    font-weight: 500;
    letter-spacing: 2px;
    color: #f7f7f7;
}

.container-fluid-95% {
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

#intro em {
    text-align: left;
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

.byline {
    text-align: left;
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

body {
    background-color: #000;
    text-color: #f7f7f7;
    font-family: Google Sans Flex, sans-serif;
    font-size: 17 px;
    line-height: 1.6;
}

#main em {
    color: #f7f7f7;
}

.col-md-3 {
    text-align: left;
}

em {
    color: #919191;
    font-size: 1.75em;
    font-display: block;
    margin-bottom: auto;
}

.container-45% {
    text-align: center;
    color: #f7f7f7;
}

.col-md-4 {
    text-align: center;
}

.col-md-4 em {
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

.img-fluid em{
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

.col-md-6 {
    text-align: center;
}

.col-md-6 em {
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

.caption {
    font-size: 0.85em;
}

#content {
    text-align:center;
}

.container {
    width: 45%;
    margin: auto;
}

.container em {
    text-align: left;
    color: #919191;
    font-size: 0.75em;
    font-display: block;
    margin-bottom: auto;
}

.container-fluid {
    width: 85%;
    margin: auto;
}

.photo-grid {
    background-color: #f7f7f7;
    text-color: #000;
    padding-top: 3em;
    padding-bottom: 3em;
}

.photo-grid em {
    text-align: right;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.photo-grid p {
    text-align: center;
    font-size: 0.85em;
}

#conclusion {
    padding-top: 3em;
    padding-bottom: 3em;
}

#footer {
    text-align: center;
}

#footer link {
    color: #f7f7f7;
}

@media(min-width:550px){
    }

